<h1 class="pageTitle" [ngStyle]="{color: colors[numBoxClicked]}">{{pageTitle}}</h1>
<h2 class="pageTitleSub" [ngStyle]="{color: colors[numBoxClicked]}">{{pageTitleSub}}</h2>
<div class="container">
    <div class="Box" [ngStyle]="{border: boxArr[0].buttonClicked == true? 'blue solid 4px': 'white solid 4px'}">
        <div class="Box1">
            <div class="BoxTitle">{{boxArr[0].boxTitle}}</div>
            <div class="BoxBody">{{boxArr[0].boxBody}}</div>
            <button class="button b1" (click)="boxArr[0].boxButton(); resetAll(0)">Set Blue</button>
        </div>
    </div>
    <div class="Box" [ngStyle]="{border: boxArr[1].buttonClicked == true? 'black solid 4px': 'white solid 4px'}">
        <div class="Box2">
            <div class="BoxTitle">{{boxArr[1].boxTitle}}</div>
            <div class="BoxBody">{{boxArr[1].boxBody}}</div>
            <button class="button b2" (click)="boxArr[1].boxButton(); resetAll(1)">Set Black</button>
        </div>
    </div>
    <div class="Box" [ngStyle]="{border: boxArr[2].buttonClicked == true? 'red solid 4px': 'white solid 4px'}">
        <div class="Box2">
            <div class="BoxTitle">{{boxArr[2].boxTitle}}</div>
            <div class="BoxBody">{{boxArr[2].boxBody}}</div>
            <button class="button b3" (click)="boxArr[2].boxButton(); resetAll(2)">Set Red</button>
        </div>
    </div>
    <div class="Box" [ngStyle]="{border: boxArr[3].buttonClicked == true? 'green solid 4px': 'white solid 4px'}">
        <div class="Box3">
            <div class="BoxTitle">{{boxArr[3].boxTitle}}</div>
            <div class="BoxBody">{{boxArr[3].boxBody}}</div>
            <button class="button b4" (click)="boxArr[3].boxButton(); resetAll(3)">Set Green</button>
        </div>
    </div>
</div>